@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
}

body {
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

button {
  cursor: pointer;
}

select,
textarea,
input,
button {
  color: inherit;
  background-color: inherit;
}

canvas {
  width: 100% !important;
  height: 100% !important;
}

.canvas-container {
  width: 100% !important;
  height: 100% !important;
}
